-content_for :styles do
  =stylesheet_link_tag 'views/dashboard', media: "all"
-content_for :scripts do
  =javascript_include_tag 'views/dashboard'

.row
  .col-md-8
    = bt_panel ko: 'with: transactions' do |panel|
      - panel.header do
        %span=t('.last_transactions')
        %span.pull-right
          -if @is_master
            = bt_button text: t('commands.add_transaction'), size: :xsmall, style: :link, href: new_transaction_path
          = bt_icon :spinner, spin: true, ko: 'visible: loading'
          = bt_button icon: :refresh, text: t('commands.refresh'), style: :link, size: :xsmall, |
                       ko: 'click: refresh, visible: !loading()'
      - panel.body do
        %table.transactions.table-hover
          %tbody(data-bind="foreach: items")
            %tr(data-bind="click: $parent.goDetails")
              %td.column-info
                %span(data-bind="text: dateText")
                %a{ href: '#' }
                  %img.avatar.s16(data-bind="attr: { src: creator.avatarUrl }")
                  %span(data-bind="text: creator.displayName")
              %td.column-fill
              %td.column-operations
                %ul.operations(data-bind="foreach: operations")
                  %li
                    %img(data-bind="attr: { src: wallet.imageUrl }")
                    %span.name(data-bind="text: wallet.displayName")
                    %span(data-bind="css: { income: type == 'in', outcome: type == 'out' }")
                      %span(data-bind="text: sumText")
                      %span(data-bind="text: currency.code")
  .col-md-4
    = bt_panel do |panel|
      - panel.header do
        %span=t('.current_book', name: @book.display_name)
        %span.pull-right
          = bt_button text: t('commands.settings'), size: :xsmall, style: :link, icon: :gear, href: book_details_path(key: current_book.key)
      - panel.body do
        %table
    = bt_panel ko: 'with: wallets' do |panel|
      - panel.header do
        %span
          = t('.wallets')
          %span.pull-right
            -if @is_admin
              =bt_button text: t('commands.create'), size: :xsmall, style: :link, href: new_wallet_path
            =bt_icon :spinner, spin: true, ko: 'visible: loading'
            =bt_button icon: :refresh, text: t('commands.refresh'), style: :link, size: :xsmall, |
                       ko: 'click: refresh, visible: !loading()'
      - panel.body do
        %table.wallets
          %tbody(data-bind="foreach: items")
            %tr
              %td.column-name
                %img(data-bind="attr: { src: imageUrl }")
                %span.name(data-bind="text: displayName")
              %td.column-balance
                %span(data-bind="css: { income: balance > 0, outcome: balance <= 0 }")
                  %span(data-bind="text: balance")
                  %span(data-bind="text: currency.code")

= render 'transaction/details_modal'
= render 'transaction/delete_modal'