-content_for :styles do
  =stylesheet_link_tag 'views/dashboard', media: "all"
-content_for :scripts do
  =javascript_include_tag 'views/dashboard'

.row
  .col-md-8
    = bt_panel ko: 'with: transactions' do |panel|
      - panel.header do
        %span=t('.last_transactions')
        %span.pull-right
          -if @is_master
            = bt_button text: t('commands.add_transaction'), size: :xsmall, style: :link, href: new_transaction_path
          = bt_icon :spinner, spin: true, ko: 'visible: loading'
          = bt_button icon: :refresh, text: t('commands.refresh'), style: :link, size: :xsmall, |
                       ko: 'click: refresh, visible: !loading()'
      - panel.body do
        %table.transactions.table-hover
          %tbody(data-bind="foreach: items")
            %tr(data-bind="click: $parent.goDetails")
              %td.column-info
                %span(data-bind="text: dateText")
                %a{ href: '#' }
                  %img.avatar.s16(data-bind="attr: { src: creator.avatarUrl }")
                  %span(data-bind="text: creator.displayName")
              %td.column-fill
              %td.column-operations
                %ul.operations(data-bind="foreach: operations")
                  %li
                    %img(data-bind="attr: { src: wallet.imageUrl }")
                    %span.name(data-bind="text: wallet.displayName")
                    %span(data-bind="css: { income: type == 'in', outcome: type == 'out' }")
                      %span(data-bind="text: sumText")
                      %span(data-bind="text: currency.code")
  .col-md-4
    = bt_panel do |panel|
      - panel.header do
        %span=t('.current_book', name: @book.display_name)
        %span.pull-right
          = bt_button text: t('commands.change'), size: :xsmall, style: :link, href: books_index_path
      - panel.body do
        %table
    = bt_panel ko: 'with: wallets' do |panel|
      - panel.header do
        %span
          = t('.wallets')
          %span.pull-right
            -if @is_admin
              =bt_button text: t('commands.create'), size: :xsmall, style: :link, href: new_wallet_path
            =bt_icon :spinner, spin: true, ko: 'visible: loading'
            =bt_button icon: :refresh, text: t('commands.refresh'), style: :link, size: :xsmall, |
                       ko: 'click: refresh, visible: !loading()'
      - panel.body do
        %ul.wallets(data-bind="foreach: items")
          %li
            %img(data-bind="attr: { src: imageUrl }")
            %span.name(data-bind="text: displayName")

= bt_modal id: "transaction-details-modal", header: raw(t('.transaction', id: '<span data-bind="text: id"><span>')), data: { bind: 'with: transactionDetails.transaction' } do |m| 
  - m.body do
    %table.table-properties
      %tbody
        %tr
          %td.column-key= t('.transaction_date')
          %td.column-value(data-bind="text: dateText")
        %tr
          %td.column-key= t('.transaction_creator')
          %td.column-value
            %a{ href: '#' }
              %img.avatar.s16(data-bind="attr: { src: creator.avatarUrl }")
              %span(data-bind="text: creator.displayName")
        %tr
          %td.column-key= t('.transaction_description')
          %td.column-value(data-bind="text: description")    
        %tr
          %td.column-key= t('.transaction_tags')
          %td.column-value
            %ul.tags(data-bind="foreach: tags")
              %li(data-bind="text: text")
        %tr
          %td.column-key= t('.transaction_sum')
          %td.column-value
            %ul.operations(data-bind="foreach: operations")
              %li
                %img(data-bind="attr: { src: wallet.imageUrl }")
                %span.name(data-bind="text: wallet.displayName")
                %span(data-bind="css: { income: type == 'in', outcome: type == 'out' }")
                  %span(data-bind="text: sumText")
                  %span(data-bind="text: currency.code")
    %h4
      %span= 'Детализация'
      = ko 'if: detalization.loading' do
        = bt_icon :spinner, spin: true
    %table.table.table-condensed.detalization
      %tbody(data-bind="foreach: detalization.items")
        %tr
          %td.column-name(data-bind="text: product ? product.displayName : ''")
          %td.column-sum
            %span(data-bind="text: countText")
            %span(data-bind="text: unit ? unit.shortName : ''")
            %span='×'
            %span(data-bind="text: amountText")
            %span(data-bind="text: currency.code")
            %span='='
            %span(data-bind="text: sumText")
            %span(data-bind="text: currency.code")