= ko_template 'current-book-menu-template' do
  -if current_book
    %li.av-dropdown.books-menu
      %a.dropdown-toggle(href="#" class="" data-toggle="av-dropdown")
        = bt_icon :book
        %span= current_book.display_name
        %span.caret
      .av-dropdown-drop
        = ko 'if: loading' do
          %p.loading
            = bt_icon :spinner, spin: true
        = ko 'if: !loading()' do
          %ul.select-list(data-bind="foreach: items")
            %li(data-bind="click: $parent.choose, css: { active: window.session.book.key == key }")
              .list-item
                %a(href="javascript:" data-bind="text: displayName")
          %table.manage
            %tr
              %td
                = bt_link icon: :plus, text: t('commands.create'), size: :small, href: book_create_path
              %td
                = bt_link icon: :gear, text: t('commands.book_settings'), size: :small, href: book_details_path