= ko_template 'money-input-template' do
  .av-input.money-input
    %input.value(type="text" data-bind="value: valueString")
    .av-dropdown
      %a.currency(href="#"  data-toggle="av-dropdown" data-bind="text: currencyCode, css: { selectable: !staticCurrency() }")
      .av-dropdown-drop
        = ko 'if: dropdownShown' do
          %input.form-control.search{ type: 'text', placeholder: t('commands.search'), 'data-bind' => 'value: currenciesSearch, valueUpdate: "afterkeydown"' }
          = ko 'if: filtredCurrencies().length == 0' do
            %p.fail-message=t('.no_currencies')
          = ko 'if: currenciesSearch() == ""' do
            %ul.select-list
              %li.static= t('.top_currencies')
              = ko 'template: { name: "currency-list-item-template", foreach: topCurrencies }'
              %li.static= t('.other_currencies')
              = ko 'template: { name: "currency-list-item-template", foreach: otherCurrencies }'
          = ko 'if: currenciesSearch() != ""' do
            %ul.select-list(data-bind="template: { name: 'currency-list-item-template', foreach: filtredCurrencies}")

= ko_template 'currency-list-item-template' do
  %li
    %a(href="#" data-bind="click: $parent.setCurrency")
      %span.text-muted(data-bind="text: code")
      %span(data-bind="text: name")