-content_for :styles do
  =stylesheet_link_tag 'views/transaction_index', media: "all"
-content_for :scripts do
  =javascript_include_tag 'views/transaction_index'

.row(data-bind="with: transactions")
  .col-md-3
    .panel.panel-default
      / .panel-heading=t('.administration')
      .panel-body
        .date-filter
          %span.select-date.date-from(data-bind="text: dates.dateFromText")
          %span='-'
          %span.select-date.date-to(data-bind="text: dates.dateToText")
      .list-group
        - %w(last_week last_month current_week current_month current_year).each do |t|
          %a.list-group-item(data-bind="click: function() { dates.select('#{t}') }" href="javascript:")
            %span=t(".#{t}")
  .col-md-9
    .panel.panel-default.panel-transactions
      .panel-body
        = ko 'if: loading()' do
          = ko 'if: items().length == 0' do
            %div.text-muted.text-centered
              = bt_icon :spinner, spin: true
              = t('.loading')
        = ko 'if: !loading()' do
          = ko 'if: items().length > 0' do
            = render 'transaction/transactions_table'
          = ko 'if: items().length == 0' do
            %div.text-muted.text-centered= t('.no_transactions')
          = ko 'if: pagination.totalPages() > 1' do
            .pull-right.paginator
              = bt_link icon: :'caret-left', ko: 'click: pagination.goPrev'
              %span(data-bind="text: pagination.startItem")
              %span='-'
              %span(data-bind="text: pagination.endItem")
              %span='/'
              %span(data-bind="text: pagination.totalItems")
              = bt_link icon: :'caret-right', ko: 'click: pagination.goNext'

= render 'transaction/details_modal'
= render 'transaction/delete_modal'
= render 'components/user_profile_link_template'