%li.av-dropdown.user-menu
  %a.dropdown-toggle(href="#" class="" data-toggle="av-dropdown")
    = avatar_image current_user, size: :small
    %span= current_user.display_name
    %span.caret
  .av-dropdown-drop
    %table.header
      %tr
        %td.avatar
          = avatar_image current_user, size: :medium
        %td.info
          %span.name= current_user.display_name
          %span.email= current_user.email
        %td.actions
          = bt_link icon: :'sign-out', title: t('commands.logout'), href: logout_path