%li.av-dropdown.user-menu
  %a.dropdown-toggle(href="#" class="" data-toggle="av-dropdown")
    = avatar_image current_user, size: :small
    %span= current_user.display_name
    %span.caret
  .av-dropdown-drop
    %table.header
      %tr
        %td.avatar
          = avatar_image current_user, size: :medium
        %td.info
          %span.name= current_user.display_name
          %span.email= current_user.email
    %ul.select-list
      %li
        = bt_link icon: :gear, text: t('commands.settings'), href: settings_main_path
      - if current_user.admin?
        %li
          = bt_link icon: :gears, text: t('commands.site_settings'), href: admin_main_path
      %li
        = bt_link icon: :'sign-out', text: t('commands.logout'), href: logout_path
