%html{ lang:"en" }
  %head
    %meta{charset: "utf-8"}
    %title=Settings.app_name

    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
    = yield :styles
  %body
    .site-content
      = render 'layouts/loader'
      = render 'layouts/navbar'
      .container
        = render('layouts/messages') if !@hide_messages
        = content_for?(:content) ? yield(:content) : yield
    = render 'layouts/footer'
    = render 'layouts/error_modal'
    = javascript_include_tag "application"
    = yield :scripts