%html{ lang:"en" }
  %head
    %meta{charset: "utf-8"}
    %title=Settings.app_name

    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
    = yield :styles
    :javascript
      session = {
        user: #{ current_user.to_json },
        book: #{ current_book.to_json },
        permissions: {
          bookAdmin: #{ has_book_role :admin },
          bookMaster: #{ has_book_role :master }
        }
      }
  %body
    .site-content
      = render 'layouts/loader'
      .container
        = render 'layouts/navbar'
        = render('layouts/messages') if !@hide_messages
        = content_for?(:content) ? yield(:content) : yield
    = render 'layouts/footer'
    = render 'layouts/error_modal'
    = javascript_include_tag "application"
    = yield :scripts