= bt_panel html: { :class => 'panel-centered' }, header: t('.title') do |p|
  %p= t('.message')

  = bt_form_for :user, html: { :'class' => 'form-stack' } do |f|
    = f.password_input property: :password, placeholder: t(".new_password"), html: { :'class' => 'first last' }

    = f.submit_button text: t("commands.save"), html: { class: 'btn btn-lg btn-block' }